# =========================
# Visual Studio
# =========================

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/

# Compiled binaries
*.exe
*.dll
*.lib
*.obj
*.o
*.pdb
*.ilk
*.exp

# Visual Studio logs
*.tlog
*.lastbuildstate


# =========================
# CMake
# =========================

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Makefile


# =========================
# vcpkg
# =========================

vcpkg_installed/
installed/
packages/


# =========================
# Generated shaders/cache
# =========================

*.spv
*.bin


# =========================
# OS files
# =========================

.DS_Store
Thumbs.db


# =========================
# Temporary files
# =========================

*.tmp
*.temp
*.log
*.bak
*.swp